# ========================
# Python / Django
# ========================
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
env/
venv/
ENV/

# SQLite (если используешь для dev)
db.sqlite3
db.sqlite3-journal

# Логи
*.log
*.pot
*.pyc

# Django stuff
media/
staticfiles/
django_cache/
*.pid

# ========================
# React / Node.js
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build
build/
dist/

# ========================
# IDE / OS
# ========================
# PyCharm / VSCode
.idea/
.vscode/

# Windows / MacOS
Thumbs.db
.DS_Store
